.item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #012;
}

.pic {
    width: 30px;
    height: 30px;
}

.text {
    margin-left: 10px;
    max-width: calc(100% - 30px - 10px);
}
