.item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #012;
    margin: 10px 0;
    padding: 10px;
    width: 400px;
    border-radius: var(--borderRadius);
}

.pic {
    width: 30px;
    height: 30px;
}

.message {
    margin-left: 10px;
    max-width: calc(100% - 30px - 10px);
}

.like {
    margin-left: auto;
}
