.nav {
  grid-area: n;
  background-color: #353535;
  padding: 20px;
}

.item {
  margin-bottom: 10px;
  color: #eee;
}

.item.active {
  color: gold;
  text-decoration: underline;
}

.link {
  color: currentColor;
  text-decoration: none;
}
