.background {
  height: 310px;
  width: calc(100% + 10px + 10px);
  margin: -10px -10px 10px;
}

.block {
  position: relative;
  margin: -200px 0 0;
}

.pic {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 5px solid #fff;
  background: #fff;
  overflow: hidden;
}
