body {
  color: #ded;
}

p, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-wrapper {
  display: grid;
  grid-template-areas: "h h" "n m" "f f";
  grid-template-rows: 70px auto 70px;
  grid-template-columns: 200px auto;
}

.main {
  grid-area: m;
  min-height: calc(100vh - 140px);
  color: #262626;
}
